<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Explorerr</string>
	<key>CFBundleDisplayName</key>
	<string>Explorerr</string>
	<key>CFBundleExecutable</key>
	<string>Explorerr</string>
	<key>CFBundleIdentifier</key>
	<string>com.explorerr.app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Explorerr is a file manager and needs access to browse and manage files on your Desktop.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Explorerr is a file manager and needs access to browse and manage files in your Documents folder.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Explorerr is a file manager and needs access to browse and manage files in your Downloads folder.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Explorerr is a file manager and needs access to browse and manage files on removable drives.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Explorerr is a file manager and needs access to browse and manage files on network drives.</string>
</dict>
</plist>
